html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #EB8B9C;
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
  color: #F8F0A9;
  opacity: 0.8;
  font-weight: bold;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
	font-size: 1.9rem;
}
